<html>

 <div class="jumbotron"> 
<div *ngFor="let howto of howto$ | async">
<div class = "textcolor">
    <br>
<B><h1 style="text-align: center;" >วิธีการใช้งาน โรงอาหาร</h1></B>
<br>
<img src="{{howto.ImagePath[0]}}" class = "center rounded" height= "350" width="600" >
<br>

<div class="alert alert-secondary" role="alert">  
<p style="text-align: center;">{{howto.description[0]}}</p>
</div>

<br>
<img src="{{howto.ImagePath[1]}}" class = "center rounded" height= "350" width="600" >
<br>

<div class="alert alert-secondary" role="alert">  
        <p style="text-align: center;">{{howto.description[1]}}</p>
        </div>


<br>

<img src="{{howto.ImagePath[2]}}" class = "center rounded" height= "350" width="600" >

<br>

<div class="alert alert-secondary" role="alert">  
        <p style="text-align: center;">{{howto.description[2]}}</p>
 </div>

<br>

</div>
</div>
</div>
</html>