<html>
                   
    <div class="jumbotron"  > 
            <h1 style="text-align: center;" >แผนผังในโรงอาหาร</h1>
            
            <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/mipmap.jpg?alt=media&token=0819ea91-0695-4300-9ed8-2f1475d00f82" width="1023">
            <button type="button" class="btn btn-success pure"  routerLink = "/food13" routerLinkActive="active">ร้าน 1</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food2" routerLinkActive="active">ร้าน 2</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food10" routerLinkActive="active">ร้าน 3</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food1" routerLinkActive="active">ร้าน 4</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food4" routerLinkActive="active">ร้าน 5</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food6" routerLinkActive="active">ร้าน 6</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food5" routerLinkActive="active">ร้าน 7</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food7" routerLinkActive="active">ร้าน 8</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food6" routerLinkActive="active">ร้าน 9</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food9" routerLinkActive="active">ร้าน 10</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food11" routerLinkActive="active">ร้าน 11</button>

            <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/mipmap2.jpg?alt=media&token=bb109985-782d-42a3-b8e2-1fb0e2b90206" height="700" width="500" class="mt-5 center" >
            <button id="am" type="button" class="btn btn-success ake" routerLink = "/food3" routerLinkActive="active">ร้าน 9</button>
            <button id="h2o" type="button" class="btn btn-success ake" routerLink = "/food12" routerLinkActive="active">ร้าน 10</button>
            <button id="food11" type="button" class="btn btn-success ake" routerLink = "/food11" routerLinkActive="active">ร้าน 11</button>
    </div>
</html>