<html>

    <div class="jumbotron"  > 
            <img src="https://media.discordapp.net/attachments/563331155064127490/653989830639747072/101.JPG">
            <button type="button" class="btn btn-success pure" routerLink = "/food1" routerLinkActive="active">ร้าน 1</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food2" routerLinkActive="active">ร้าน 2</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food3" routerLinkActive="active">ร้าน 3</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food4" routerLinkActive="active">ร้าน 4</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food5" routerLinkActive="active">ร้าน 5</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food6" routerLinkActive="active">ร้าน 6</button>
            <button type="button" class="btn btn-success pure" routerLink = "food7" routerLinkActive="active">ร้าน 7</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food8" routerLinkActive="active">ร้าน 8</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food9" routerLinkActive="active">ร้าน 9</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food10" routerLinkActive="active">ร้าน 10</button>
            <button type="button" class="btn btn-success pure" routerLink = "/food11" routerLinkActive="active">ร้าน 11</button>

     
    </div>

</html>