<div class="jumbotron  bg-gray mb-2 text-white">

<div *ngFor="let contact of contact$ | async" >

<div class="alert alert-success" style="text-align: center;"  role="alert">
    <font size="5">  Contact ติดต่อ </font>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action bg-secondary text-white">
      ผู้พัฒนาเว็บ
    </a>
    <a class="list-group-item list-group-item-action text-dark">{{contact.name[0]}}</a>
    <a class="list-group-item list-group-item-action text-dark">{{contact.name[1]}}</a>
    <a  class="list-group-item list-group-item-action text-dark">{{contact.name[2]}}</a>
    <a  class="list-group-item list-group-item-action text-dark">{{contact.name[3]}}</a>
  </div>
</div>
</div>

