<html>
   <body>
    


      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
              <a class="navbar-brand" href="#">SSRU Foodcurt</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">หน้าหลัก<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">โรงอาหาร</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">เมนูยอดฮิต</a>
    
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">แผนที่</a>
                  </li>
                </ul>
    
              </div>
            </nav>
     
            <div class="jumbotron" > 
            <div class="col-sm-12">
            <div class="row">
            <div *ngFor="let foodcurt of foodcurt$ | async "  class="card" style="width: 18rem;" >
                <img src= "{{foodcurt.ImagePath}} "class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{foodcurt.name}}</h5>
                  <p class="card-text"> {{foodcurt.description}}</p>
                  <button routerLink = "{{foodcurt.linkz}}" class="btn btn-secondary btn-block">GOGO</button>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>

            

                <router-outlet></router-outlet>
      </body>
         </html>
<!--
   
<div class="container">
<ul>
      <li *ngFor="let foodcurt of foodcurt$ | async">

         <h3>ร้าน</h3>  {{foodcurt.name}} <br> <h3>Description</h3> {{foodcurt.description}}   
    </li>
 </ul>

</div> -->



