<html>
   <body>
          
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark  fixed-top">
      <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/picture%2Flogo.png?alt=media&token=53efa12d-3aa2-46f7-a08a-06edf285ec51" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" routerLink = "/home" ><i class="fa fa-home" aria-hidden="true"> หน้าหลัก</i><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/foodcurt" routerLinkActive="active"> <i class="fa fa-cutlery"> โรงอาหาร</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/howto" routerLinkActive="active"><i class="fa fa-hand-o-up" > วิธีใช้บริการ</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/contact" routerLinkActive="active"><i class="fa fa-address-book"> ติดต่อ</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/map" routerLinkActive="active"><i class="fa fa-map-o"> แผนที่</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/history" routerLinkActive="active"><i class="fa fa-history"> ประวัติความเป็นมา</i></a>
          </li>
        </ul>
      </div>
    </nav>
        
     <div class="container">   
          <!--carousel สไลด์ -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/picture%2Ffcover1.jpg?alt=media&token=9267b90f-bca0-4edb-89e7-2ac445d31993" height="350"  class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/picture%2Ffcover2.jpg?alt=media&token=f02b16ab-c693-4ec7-8328-7c8b28a79e79" height="350"  class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/picture%2Ffcover3.jpg?alt=media&token=14da3ce4-a25a-42ce-becf-bd05b550be42" height="350"  class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
           
          <div class="progress mb-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>


          
      
    

         
                <router-outlet></router-outlet>        
        </div>
    
              
      </body>
         </html>
<!--
   
<div class="container">
<ul>
      <li *ngFor="let foodcurt of foodcurt$ | async">

         <h3>ร้าน</h3>  {{foodcurt.name}} <br> <h3>Description</h3> {{foodcurt.description}}   
    </li>
 </ul>

</div> -->
