<html>
   <body>
      <div class="row">
         
            <div *ngFor="let foodcurt of foodcurt$ | async" class="col-md-3 mx-auto my-5">
                <a [routerLink]=""><img class="card-img-top" src="https://media.thestar.com.my/Prod/0FB7C9A1-2C9B-4AA6-B0F2-607FD76E411D" alt="Card image cap"></a>
                <div class="card-block">
                     {{foodcurt.name}}<br>
                     {{foodcurt.description}}<br>
                     <button  color="primary">ควยกด</button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-8">
        <div class="row">
        <div *ngFor="let foodcurt of foodcurt$ | async" class="card" style="width: 18rem;" >
            <img src="https://smaller-pictures.appspot.com/images/dreamstime_xxl_65780868_small.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{foodcurt.name}}</h5>
              <p class="card-text">{{foodcurt.description}}</p>
              <a href="#" class="btn btn-primary">กดดูรายละเอียด</a>
            </div>
          </div>
        </div>
      </div>

    <table>
         <thead>
         <th>ร้านชื่อ</th>
         <th>รายละเอียด</th>
         </thead>
         <tbody>
         <tr *ngFor="let foodcurt of foodcurt$ | async">
         <td>{{foodcurt.name}}</td>
         <td>{{foodcurt.description}}</td>
         </tr>
         </tbody>
         </table>
      </body>
         </html>
<!--
   
<div class="container">
<ul>
      <li *ngFor="let foodcurt of foodcurt$ | async">

         <h3>ร้าน</h3>  {{foodcurt.name}} <br> <h3>Description</h3> {{foodcurt.description}}   
    </li>
 </ul>

</div> -->



