body {
    background-image: url(https://media.discordapp.net/attachments/563331155064127490/653958907332526129/unknown.png); 
    height: 3500px;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }


.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}


.logo {
    margin-right: 10px;
    margin-left: 10px;
}


