<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <div class="col ">
        <h1 class="display-4 font-italic">SSRU Foodcourt</h1>
        <p class="lead my-3">ศูนย์อาหารสวนสุนันทามีร้านอาหารอยู่หลายร้านมากมาย ไม่ว่าจะเป็นอาหาร ขนม เครื่องดื่ม มีบริการให้ครบทุกอย่าง</p>
        <button type="button" class="btn btn-success" routerLink = "/foodcurt" routerLinkActive="active" >กดเพื่อดูร้านอาหาร</button>


        
      </div>
    </div>
    <div class="jumbotron"  > 
    
         <h3 class=" font-italic border-bottom">
               ศูนย์อาหารมหาวิทยาลัยราชภัฏสวนสุนันทา

             </h3> <hr>
    <p>บริการศูนย์อาหาร โดยรวบรวมร้านอาหารนานาชนิด ที่ศูนย์อาหาร SSRU Food Plaza มหาวิทยาลัยราชภัฏสวนสุนันทา โทร. 02-160-1412, 02-160-1362,66 </p>
    
    <div class="text-center">
         <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/img%2F25.jpg?alt=media&token=0d509723-7c7b-4b30-9683-7380d2d915b0 " width="800"  class="rounded" >
       </div>

       <div class="text-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/foodcourtssru.appspot.com/o/img%2F20.jpg?alt=media&token=754b0e62-707b-4ca1-823d-4c03113bcb88"width="800"  class="rounded mt-3" >
      </div>
   </div>
    